<%if @positive_words && @positive_words.include?(tag_pill_array[0])%>
  <span class='inline-flex mb-2 items-center rounded-md bg-green-200 px-2 py-2 text-s font-medium text-blue-700'>
    <%= tag_pill_array[0] %>
    <span class='items-center m-1 rounded-md bg-white px-1 py-1 text-xs font-medium text-black'>
      <i class="fa-solid fa-tag"></i> <%=tag_pill_array[1]%>
    </span>
  </span>
<%elsif @negative_words && @negative_words.include?(tag_pill_array[0])%>
  <span class='inline-flex mb-2 items-center rounded-md bg-red-200 px-2 py-2 text-s font-medium text-blue-700'>
    <%= tag_pill_array[0] %>
    <span class='items-center m-1 rounded-md bg-white px-1 py-1 text-xs font-medium text-black'>
      <i class="fa-solid fa-tag"></i> <%=tag_pill_array[1]%>
    </span>
  </span>
<%else%>
  <span class='inline-flex mb-2 items-center rounded-md bg-blue-100 px-2 py-2 text-s font-medium text-blue-700'>
    <%= tag_pill_array[0] %>
    <span class='items-center m-1 rounded-md bg-white px-1 py-1 text-xs font-medium text-black'>
      <i class="fa-solid fa-tag"></i> <%=tag_pill_array[1]%>
    </span>
  </span>
<%end%>
