<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Etiqueta: <%=@tag.name%></h1>
  </div>
</header>
<main>
  <div class="mx-auto py-8 sm:px-6 lg:px-8">
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
      <div class="flex">
        <!-- Gráfico 1 -->
        <div class="w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
          <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Notas x DIA</h2>
          <%= column_chart @entries.group_by_day(:published_at).count('*'), xtitle: "Fecha", ytitle: "Cant. Notas", label: "Notas", colors: ['blue'] %>
        </div>
        <!-- Gráfico 2 -->
        <div class="w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
          <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Interacciones x DIA</h2>
          <%= column_chart @entries.group_by_day(:published_at).sum(:total_count), xtitle: "Fecha", ytitle: "Interacciones", label: "Interacciones", colors: ['green']%>
        </div>
      </div>
    </div>
    <%if @tag.belongs_to_any_topic?%>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
        <div>
          <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Análisis de sentimiento</h2>
          <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500">Total Noticias</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=@entries.size%></dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500">Total Positivas</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=@percentage_positives%>%</dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500">Total Negativas</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=@percentage_negatives%>%</dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500">Total Neutras</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=@percentage_neutrals%>%</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
        <div class="flex">
          <div class="w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
            <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento</h2>
            <%= line_chart @entries.where.not(polarity: nil).group(:polarity).group_by_day(:published_at).count('*').sort_by { |key, _value| key }.to_h, xtitle: "Fecha", ytitle: "Cant. Notas", label: "Notas", stacked: false, curve: false, colors: ["red", "lightgrey", 'lightgreen'] %>
          </div>
          <div class="w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
            <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento</h2>
            <%= line_chart @entries.where.not(polarity: nil).group(:polarity).group_by_day(:published_at).sum('total_count').sort_by { |key, _value| key }.to_h, xtitle: "Fecha", ytitle: "Cant. Interacciones", label: "Interacciones", stacked: false, curve: false, colors: ["red", "lightgrey", 'lightgreen'] %>
          </div>
        </div>
      </div>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
        <div class="flex">
          <div class="w-1/2">
            <h3>Cantidad de Notas por Sentimiento</h3>
            <% polarities_counts = @entries.where.not(polarity: nil).group(:polarity).count('*').sort_by { |key, _value| key }.to_h %>
            <% total_count = polarities_counts.values.sum.to_f %>
            <% polarities_percentages = polarities_counts.transform_values { |count| (count / total_count * 100).round(0) } %>
            <%= pie_chart polarities_percentages, colors: ["red", "lightgrey", 'lightgreen'], donut: true, suffix: "%" %>
          </div>
          <div class="w-1/2">
            <h3>Cantidad de Interacciones por Sentimiento</h3>
            <% polarities_counts = @entries.where.not(polarity: nil).group(:polarity).sum('total_count').sort_by { |key, _value| key }.to_h %>
            <% total_count = polarities_counts.values.sum.to_f %>
            <% polarities_percentages = polarities_counts.transform_values { |count| (count / total_count * 100).round(0) } %>
            <%= pie_chart polarities_percentages, colors: ["red", "lightgrey", 'lightgreen'], donut: true, suffix: "%" %>
          </div>
        </div>
      </div>
    <%end%>
    <div class="m-2">
      <p>La etiqueta <b><%=@tag.name%></b> en los ultimos <b><%=DAYS_RANGE%> días</b> cuenta con un total de <b><%=number_with_delimiter(@total_entries, delimiter: ".")%></b> notas y genero un total de <b><%=number_with_delimiter(@total_interactions, delimiter: '.')%></b> interacciones, lo que nos da un promedio de <b><%=number_with_delimiter(@promedio, delimiter: '.')%></b> interacciones por nota.</p>
      <p>En contexto las <%=@top_entries.count%> notas con más interacciones en general, en el mismo periodo tuvieron <b><%=@top_entries.pluck(:total_count).join(', ')%></b> interacciones y las notas de la etiqueta <b><%=@most_interactions.take(5).pluck(:total_count).join(', ')%></b> interaciones </p>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
      <%= render partial: 'entry/entries_table', locals: { entries: @entries, title: "Últimas Noticias sobre #{@tag.name}" } %>
    </div>
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Nube de palabras de notas</h2>
      <div class="mt-20 mb-20 px-30 py-10 sm:p-6">
        <%min_max = find_max_and_min_occurrences(@word_occurrences)%>
        <ul class="cloud">
          <%@word_occurrences.shuffle { |a, b| a[1] <=> b[1] }.each do |word, value|%>
            <li style='color: <%=word_color(@positive_words, @negative_words, word)%>' data-weight="<%=normalize_to_scale(value, min_max[:max], min_max[:min])%>"><%=word%></li>
          <%end%>
        </ul>
      </div>
    </div>
    <br>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Palabras en Notas:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @word_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las palabras en las notas</small></p>
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Bigramas en Notas:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @bigram_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen bigramas en las notas</small></p>
    </div>
    <hr>
    <%= render partial: 'entry/entries', locals: { last_entries: @most_interactions, title: 'Top Interacciones de la Etiqueta' } %>
    <hr>
    <%= render partial: 'site/sites', locals: { sites: @entries.group("sites.id").count('*').sort_by { |site, count| -count }.take(10), title: 'Los medios que mas han mencionado' } %>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por medio</h3>
          <%= pie_chart @entries.group("sites.name").count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por medio</h3>
          <%= pie_chart @entries.group("sites.name").sum(:total_count), donut: true %>
        </div>
      </div>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por Tag Relacionados</h3>
          <%= pie_chart @tags_count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por Tag Relacionados</h3>
          <%= pie_chart @tags_interactions, donut: true %>
        </div>
      </div>
    </div>
    <% if @tags.any? %>
      <hr>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Aparicion de Etiquetas:</h2>
        <%= render partial: "tag/tag_pill", collection: @tags %>
        <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
      </div>
      <hr>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Interacciones de Etiquetas:</h2>
        <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse %>
        <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
      </div>
    <%end%>
  </main>
  <script>
    function click_manager(object, event){
      console.log(event);
      if (event.point) {
        // You can access the clicked point's information here
        var seriesName = event.point.series.name;
        var category = event.point.category;
        var value = event.point.y;

        // Perform actions based on the clicked point's information
        console.log("Clicked on:", seriesName, "Category:", category, "Value:", value);
      }
    };

    function set_click_manager(){
      console.log('manager loaded...--');
      var chart = Chartkick.charts['chart-1'].getChartObject(); // Replace 'bar-chart-id' with the actual ID of your chart element
      chart.series[0].update({events:{click: function(event) { click_manager(this, event) } }});
    }

    document.addEventListener('DOMContentLoaded', function() {
      console.log('loaded...--');
      setTimeout(set_click_manager, 2000); // 5000 milliseconds = 5 seconds
    });
  </script>
