<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Últimas Noticias</h1>
  </div>
</header>
<main>
  <div class="mx-auto py-6 sm:px-6 lg:px-8">
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Tópicos del usuario</h2>

      
        <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
          <%@topcis.each do |topic|%>
          <li class="overflow-hidden rounded-xl border border-gray-200">
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
              <div class="text font-medium leading-6 text-gray-900"><%=topic.name%></div>
              <div class="relative ml-auto">
                <%=link_to 'Ver Tópico', topic_path(topic), class: 'text-sm font-medium leading-6 text-gray-900'%>
              </div>
            </div>
            <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Cantidad Notas</dt>
                <dd class="text-gray-700"><%=topic.topic_entries.count('*')%></dd>
              </div>
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Cantidad Interacciones</dt>
                <dd class="flex items-start gap-x-2">
                  <div class="font-medium text-gray-900"><%=topic.topic_entries.sum(:total_count)%></div>
                </dd>
              </div>
            </dl>
          </li>
          <%end%>    
        </ul>


      
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Interacciones medios últimas 24Hrs.</h2>
      <%= render partial: "site/site_pill", collection: @sites %>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Apariciones Etiquetas</h2>
      <%= render partial: "tag/tag_pill", collection: @tags %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Interacciones Etiquetas</h2>
      <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse %>
      <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
    </div>
    <hr>
    <%= render partial: 'entry/entries', locals: { last_entries: @entries, title: 'Últimas Noticias' } %>
  </div>
</main>
