<div class="group relative rounded-md">
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
    <div style="left: 10px; position: absolute; top: 10px">
      <span class='inline-flex items-center rounded-md border-2 border-black bg-blue-100 px-2 py-2 text-s font-medium text-blue-700'>
        <div class="text-muted px-1"><i class="fa-brands fa-square-facebook"></i> <%=entry.total_count%></div>
      </span>
      <span class='inline-flex items-center rounded-md border-2 border-black bg-blue-100 px-2 py-2 text-s font-medium text-blue-700'>
        <div class="text-muted px-1"><i class="fa-solid fa-comment"></i> <%=entry.comment_count%></div>
      </span>
      <span class='inline-flex items-center rounded-md border-2 border-black bg-blue-100 px-2 py-2 text-s font-medium text-blue-700'>
        <div class="text-muted px-1"><i class="fa-solid fa-share"></i> <%=entry.share_count%></div>
      </span>
    </div>
    <%=image_tag entry.clean_image, size: 150, loading: 'lazy', onerror: 'this.onerror=null;this.src="https://via.placeholder.com/300x250";', class: 'h-full w-full object-cover object-center lg:h-full lg:w-full'%>
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <%=entry.title%>
      </h3>
      <h3 class="px-1 text-sm">
        <i class="fa-regular fa-newspaper"></i> <%=link_to entry.site.name, entry.site%>
      </h3>
      <hr>
      <p class="card-text">
        <small class="text-muted px-1"><%= icon('fa-regular', 'calendar')%>
          <%=entry.published_at.strftime('%Y-%m-%d')%>
        </small>
        <small class="text-muted px-1"><i class="fa-solid fa-link"></i>
          <%= link_to entry.id, entry.url, target: :blank %>
        </small>
      </p>
    </div>
  </div>
</div>
