<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" crossorigin="anonymous">
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<h2 class="text-2xl font-bold tracking-tight text-gray-900"><%=title%></h2>
<table id="entradas" class="min-w-full divide-y divide-gray-300">
  <thead>
    <tr>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Fecha</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Imagen</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nota</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Etiquetas</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Medio</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reactions</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Comments</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Shares</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total</th>
    </tr>
  </thead>
  <tbody class="bg-white">
    <% entries.each do |entry| %>
      <tr class="even:bg-gray-50">
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" data-sort="<%= entry.published_at.strftime("%Y%m%d%H%M%s") %>"><%=entry.published_at.strftime("%d/%m/%Y")%></td>
        <td class="px-3 py-4 text-sm text-gray-500"><%=image_tag entry.clean_image, size: 200, loading: 'lazy', onerror: 'this.onerror=null;this.src="https://via.placeholder.com/300x250";'%></td>
        <td class="px-3 py-4 text-gray-500"><%=link_to entry.title, entry.url, target: '_blank'%> <i class="fa-solid fa-link"></i></td>
        <td class="px-3 py-4 text-xs text-gray-500"><%=entry.tag_list%></td>
        <td class="whitespace-nowrap px-3 py-4 text-xs text-gray-500"><%=link_to entry.site.name, site_path(entry.site)%></td>
        <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.reaction_count%></td>
        <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.comment_count%></td>
        <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.share_count%></td>
        <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.total_count%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  // document.addEventListener('turbo:load', function () {
  $(document).ready( function () {
    new DataTable('#entradas', {
      order: [[0, 'desc']],
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
      },
      "pageLength": 25,
      "lengthChange": false
    });
  });
</script>
