<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Noticias Más Comentadas</h1>
  </div>
</header>
<main>
  <div class="mx-auto py-8 sm:px-6 lg:px-8">
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Palabras:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @word_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las palabras en las notas</small></p>
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Bigramas:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @bigram_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen bigramas en las notas</small></p>
    </div>
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Análisis de notas populares 24Hrs..</h2>
    <div class="container py-4 px-2">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por medio</h3>
          <%= pie_chart @entries.group("sites.name").count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por medio</h3>
          <%= pie_chart @entries.group("sites.name").sum(:total_count), donut: true %>
        </div>
      </div>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
      <div class="flex">
        <div class="w-1/2">
          <h3>Apariciones Etiquetas</h3>
          <%= pie_chart @tags_count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Interacciones Etiquetas</h3>
          <%= pie_chart @tags_interactions, donut: true %>
        </div>
      </div>
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Apariciones Etiquetas</h2>
      <%= render partial: "tag/tag_pill", collection: @tags %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Interacciones Etiquetas</h2>
      <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse %>
      <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
    </div>
    <hr>
    <%= render partial: 'entry/entries', locals: { last_entries: @entries, title: 'Últimas Noticias Populares' } %>
  </div>
</main>
