<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Notas Populares Twitter 24Hrs.</li>
  </ol>
</nav>

<h3>Análisis de notas populares 24Hrs..</h3>
<div class="container py-4">
  <div class="row">
    <div class="col">
    <h3>Notas por medio</h3>
      <%= pie_chart @entries.group("sites.name").count, donut: true %>
    </div>
    <div class="col">
      <h3>Interacciones por medio</h3>    
      <%= pie_chart @entries.group("sites.name").sum(:total_count), donut: true %>
    </div>
  </div>
</div>

<hr>

<div class="container py-4">
  <div class="row">
    <div class="col">
    <h3>Apariciones Etiquetas</h3>
      <%= pie_chart @tags_count, donut: true %>
    </div>
    <div class="col">
      <h3>Interacciones Etiquetas</h3>    
      <%= pie_chart @tags_interactions, donut: true %>
    </div>
  </div>
</div>

<div class="my-2">
  <h3>Apariciones Etiquetas</h2>
  <%= render partial: "tag/tag_pill", collection: @tags, cached: true %>
  <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
</div> 
<hr>
<div class="my-2">
  <h3>Interacciones Etiquetas</h2>
  <%= render partial: "tag/tag_pill_tw_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse, cached: true %>
  <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
</div>

<hr>

<h3>Notas populares 24hrs</h3>
<div class="row" data-masonry='{"percentPosition": true }'>
  <%= render partial: "entry/entry", collection: @entries, cached: true %>
</div>